.job-item-details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  background-color: #000000;
  height: 100%;
}

.job-details-container {
  margin-top: 20px;
  background-color: #272727;
  height: 100%;
  border-radius: 20px;
  padding: 20px;
}

.desc-website-url {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.open-in-new-icon {
  height: 20px;
  width: 20px;
  margin-top: 15px;
}

.visit-text-container {
  display: flex;
  flex-direction: row;
  color: #4f46e5;
  text-decoration-line: none;
}

.heading {
  color: #ffffff;
  font-family: 'Consolas';
  font-size: 22px;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

.life-company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .life-company {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .life-desc {
    padding-right: 20px;
    font-size: 12px;
  }
}

.life-desc {
  color: #ffffff;
  font-family: 'Consolas';
  font-size: 15px;
}

.company-image {
  border-radius: 10px;
}

.similar-jobs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
  list-style-type: none;
}
